@import url("/fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply flex items-center justify-between text-neutral-200 w-28 px-2 py-2 rounded-md hover:font-bold hover:scale-110 transition-all duration-150;
  }

  .adminRoleBtn {
    @apply py-2 px-2 rounded-md hover:font-bold hover:scale-105 mx-auto transition-all duration-150 text-black
  }
}

.filmstrip {
  --background: rgb(31, 27, 27); /* #210 */
  --size: 6px;
  background-image: linear-gradient(
      to right,
      var(--background) var(--size),
      transparent var(--size)
    ),
    linear-gradient(
      to bottom,
      var(--background) var(--size),
      transparent var(--size)
    ),
    linear-gradient(
      to right,
      var(--background) var(--size),
      transparent var(--size)
    ),
    linear-gradient(
      to bottom,
      var(--background) var(--size),
      transparent var(--size)
    ),
    linear-gradient(
      to bottom,
      transparent var(--size),
      var(--background) var(--size)
    );
  background-size: calc(var(--size) * 2) var(--size),
    calc(var(--size) * 2) var(--size), calc(var(--size) * 2) var(--size),
    calc(var(--size) * 2) var(--size), 100% calc(100% - var(--size) * 3);
  background-repeat: repeat-x;
  background-position: 0 var(--size), top left, 0 calc(100% - var(--size)),
    bottom left, 0 var(--size);
  padding: calc(var(--size) * 2.85) calc(var(--size) * 2);
  /* box-sizing: border-box; */
}
